
*{
	/*box-sizing: border-box;*/
	text-align: center;
}

body {
	background-color: #777;
	font-family: "arial", "helvetica neue", helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
}

header, nav, footer, section, aside{
	background-color: #ebebeb;
	margin:10px;
	padding: 15px;
}

h1, p{
	background-color: #ebebeb;
	color: black;
	padding: 15px;
	margin: 10px;
}

article{
	background-color: #777;
	/*border: 5px solid black;*/
	color: white;
	padding: 15px;
	margin-top: 10px;
}

section{
	width:495px;
	float: left;
}

aside{
	float: left;
}

footer{
	clear:both;
}

.wrapper{
	display: flex;;
}

.col{
	flex: 1;
}